.wrapper {
  white-space: nowrap;
  font-size: 12px;
  font-weight: bold;
  display: flex;
  align-items: center;
  padding: 0 2px 5px 2px;
}
.wrapper:last-child {
  padding: 0 2px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 38px;
  height: 20px;
}
.switch input {
  width: 0;
  height: 0;
  opacity: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #cccccc;
  transition: 0.4s;
  border-radius: 20px;
}
.slider::before {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 16px;
  background-color: white;
  top: 2px;
  left: 2px;
  bottom: 2px;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #4fbd70;
}
input:focus + .slider {
  box-shadow: 0 0 1px #4fbd70;
}
input:checked + .slider:before {
  transform: translateX(18px);
}
